USE [master]
GO
/****** Object:  Database [HealthRunnerDB]    Script Date: 11/11/2025 6:25:55 p. m. ******/
CREATE DATABASE [HealthRunnerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HealthRunnerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HealthRunnerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HealthRunnerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HealthRunnerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HealthRunnerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HealthRunnerDB]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/11/2025 6:25:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 11/11/2025 6:25:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [nvarchar](100) NOT NULL,
	[CorreoElectronico] [nvarchar](255) NOT NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Genero] [nvarchar](50) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[NivelActividad] [nvarchar](50) NULL,
	[IdRol] [int] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VistaUsuariosPanelAdmin]    Script Date: 11/11/2025 6:25:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VistaUsuariosPanelAdmin] AS
SELECT 
    u.IdUsuario,
    u.NombreCompleto,
    u.CorreoElectronico,
    r.NombreRol AS Rol,
    u.Genero,
    u.Telefono,
    u.FechaRegistro,
    u.Activo
FROM Usuarios u
INNER JOIN Roles r ON u.IdRol = r.IdRol;
GO
/****** Object:  Table [dbo].[EstadisticasSalud]    Script Date: 11/11/2025 6:25:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadisticasSalud](
	[IdEstadistica] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Pasos] [int] NULL,
	[Kilometros] [decimal](6, 2) NULL,
	[Calorias] [int] NULL,
	[FrecuenciaCardiaca] [int] NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[ContadorOro] [int] NULL,
	[ContadorPlata] [int] NULL,
	[ContadorBronce] [int] NULL,
	[Nivel] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstadistica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insignias]    Script Date: 11/11/2025 6:25:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insignias](
	[IdInsignia] [int] IDENTITY(1,1) NOT NULL,
	[NombreInsignia] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInsignia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogrosUsuario]    Script Date: 11/11/2025 6:25:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogrosUsuario](
	[IdLogro] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdInsignia] [int] NOT NULL,
	[FechaOtorgado] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLogro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogsAcceso]    Script Date: 11/11/2025 6:25:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogsAcceso](
	[IdLog] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[FechaIntento] [datetime] NOT NULL,
	[Exitoso] [bit] NOT NULL,
	[IP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerfilesAdmin]    Script Date: 11/11/2025 6:25:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilesAdmin](
	[IdPerfilAdmin] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[RolAsignado] [nvarchar](50) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPerfilAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerfilesUsuario]    Script Date: 11/11/2025 6:25:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilesUsuario](
	[IdPerfil] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Correo] [nvarchar](255) NOT NULL,
	[Nivel] [nvarchar](50) NULL,
	[Meta] [nvarchar](200) NULL,
	[FechaNacimiento] [date] NULL,
	[Genero] [nvarchar](50) NULL,
	[Telefono] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EstadisticasSalud] ON 

INSERT [dbo].[EstadisticasSalud] ([IdEstadistica], [IdUsuario], [Pasos], [Kilometros], [Calorias], [FrecuenciaCardiaca], [FechaRegistro], [ContadorOro], [ContadorPlata], [ContadorBronce], [Nivel]) VALUES (1, 7, 10000, CAST(7.00 AS Decimal(6, 2)), 500, 70, CAST(N'2025-11-10T23:04:04.633' AS DateTime), 0, 0, 1, N'Principiante')
INSERT [dbo].[EstadisticasSalud] ([IdEstadistica], [IdUsuario], [Pasos], [Kilometros], [Calorias], [FrecuenciaCardiaca], [FechaRegistro], [ContadorOro], [ContadorPlata], [ContadorBronce], [Nivel]) VALUES (2, 7, 10000, CAST(8.00 AS Decimal(6, 2)), 500, 70, CAST(N'2025-11-10T23:04:40.793' AS DateTime), 0, 0, 2, N'Principiante')
INSERT [dbo].[EstadisticasSalud] ([IdEstadistica], [IdUsuario], [Pasos], [Kilometros], [Calorias], [FrecuenciaCardiaca], [FechaRegistro], [ContadorOro], [ContadorPlata], [ContadorBronce], [Nivel]) VALUES (3, 7, 10020, CAST(8.00 AS Decimal(6, 2)), 500, 70, CAST(N'2025-11-10T23:04:49.787' AS DateTime), 0, 0, 3, N'Principiante')
SET IDENTITY_INSERT [dbo].[EstadisticasSalud] OFF
GO
SET IDENTITY_INSERT [dbo].[Insignias] ON 

INSERT [dbo].[Insignias] ([IdInsignia], [NombreInsignia], [Descripcion]) VALUES (1, N'Oro', N'Meta máxima alcanzada')
INSERT [dbo].[Insignias] ([IdInsignia], [NombreInsignia], [Descripcion]) VALUES (2, N'Plata', N'Buen rendimiento')
INSERT [dbo].[Insignias] ([IdInsignia], [NombreInsignia], [Descripcion]) VALUES (3, N'Bronce', N'Inicio de progreso')
SET IDENTITY_INSERT [dbo].[Insignias] OFF
GO
SET IDENTITY_INSERT [dbo].[LogsAcceso] ON 

INSERT [dbo].[LogsAcceso] ([IdLog], [IdUsuario], [FechaIntento], [Exitoso], [IP]) VALUES (1, 1, CAST(N'2025-11-09T11:30:22.003' AS DateTime), 1, N'GUERRERO')
INSERT [dbo].[LogsAcceso] ([IdLog], [IdUsuario], [FechaIntento], [Exitoso], [IP]) VALUES (2, NULL, CAST(N'2025-11-09T11:33:00.067' AS DateTime), 0, N'GUERRERO')
INSERT [dbo].[LogsAcceso] ([IdLog], [IdUsuario], [FechaIntento], [Exitoso], [IP]) VALUES (3, NULL, CAST(N'2025-11-09T11:39:07.247' AS DateTime), 0, N'GUERRERO')
SET IDENTITY_INSERT [dbo].[LogsAcceso] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRol], [NombreRol]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([IdRol], [NombreRol]) VALUES (2, N'UsuarioFinal')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [NombreCompleto], [CorreoElectronico], [Contrasena], [FechaNacimiento], [Genero], [Telefono], [NivelActividad], [IdRol], [FechaRegistro], [Activo]) VALUES (1, N'ALEXANDRA', N'stiven@gmail.com', N'G12345678', CAST(N'2025-11-09' AS Date), N'Masculino', N'3125268952', N'Principiante', 2, CAST(N'2025-11-09T00:54:45.080' AS DateTime), 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [NombreCompleto], [CorreoElectronico], [Contrasena], [FechaNacimiento], [Genero], [Telefono], [NivelActividad], [IdRol], [FechaRegistro], [Activo]) VALUES (2, N'Nelson Stiven Cataño', N'Guerrero@hotmail.com', N'G12345678', CAST(N'2025-11-09' AS Date), N'Masculino', N'312456897', NULL, 1, CAST(N'2025-11-09T14:00:39.280' AS DateTime), 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [NombreCompleto], [CorreoElectronico], [Contrasena], [FechaNacimiento], [Genero], [Telefono], [NivelActividad], [IdRol], [FechaRegistro], [Activo]) VALUES (4, N'Admin', N'admin@hotmail.com', N'G12345678', CAST(N'2025-11-09' AS Date), N'Masculino', N'310256895', NULL, 1, CAST(N'2025-11-09T15:55:08.637' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Object:  Index [UQ__Perfiles__5B65BF965BFDCEF0]    Script Date: 11/11/2025 6:25:55 p. m. ******/
ALTER TABLE [dbo].[PerfilesUsuario] ADD UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__4F0B537F6CBA8C27]    Script Date: 11/11/2025 6:25:55 p. m. ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__531402F364A805D1]    Script Date: 11/11/2025 6:25:55 p. m. ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[CorreoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EstadisticasSalud] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[EstadisticasSalud] ADD  DEFAULT ((0)) FOR [ContadorOro]
GO
ALTER TABLE [dbo].[EstadisticasSalud] ADD  DEFAULT ((0)) FOR [ContadorPlata]
GO
ALTER TABLE [dbo].[EstadisticasSalud] ADD  DEFAULT ((0)) FOR [ContadorBronce]
GO
ALTER TABLE [dbo].[EstadisticasSalud] ADD  DEFAULT ('Principiante') FOR [Nivel]
GO
ALTER TABLE [dbo].[LogrosUsuario] ADD  DEFAULT (getdate()) FOR [FechaOtorgado]
GO
ALTER TABLE [dbo].[LogsAcceso] ADD  DEFAULT (getdate()) FOR [FechaIntento]
GO
ALTER TABLE [dbo].[PerfilesAdmin] ADD  DEFAULT ('Administrador') FOR [RolAsignado]
GO
ALTER TABLE [dbo].[PerfilesAdmin] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[EstadisticasSalud]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[LogrosUsuario]  WITH CHECK ADD FOREIGN KEY([IdInsignia])
REFERENCES [dbo].[Insignias] ([IdInsignia])
GO
ALTER TABLE [dbo].[LogrosUsuario]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[LogsAcceso]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[PerfilesAdmin]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[PerfilesUsuario]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
USE [master]
GO
